#navbar{
    background-color: gray;
    display: grid;
    grid-template-columns: 30% 70%;
}
#navlist{
    list-style: none;
}
#navlist>li{
    display: inline-block;
    font-size: 24px;
    margin-right: 100px;
}
#logo{
    width: 100px;
    border-radius: 100px;
}
#logo:hover{
    width: 150px;
}
.link :hover{
    color: blue;
}
.link{
    text-decoration: none;
    color: white;
}
.active{
    color: green;
}
